@font-face {
    font-family: 'titulos';
    src: url('./BebasNeue-Regular.otf')format('opentype');
}

body{
    background: linear-gradient(to right, #0d2444, #10316e93,#192f4b);
}


main{
    width: 90%;
    background: linear-gradient(to right, #003399 0%, #000066 100%);
    margin: auto;
    border-radius: 20px;
    margin-top: 2%;
    padding-top: 2%;

}

main:hover{
    box-shadow: 0px 0px 20px rgb(216, 216, 203), 0px 0px 20px rgb(199, 199, 193);
    transition: ease-in-out 2s;
    
}

header{
    background: linear-gradient(to right, #2e4d75, #27809b93,#192f4b);
    border-radius: 20px;


}


/*configuração do menu*/
header{
    border-bottom: solid rgb(151, 135, 135);
    padding: 5px;
}

header nav {
    text-align: right;
    margin: 5px;
    
}

header nav a{
    
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(65, 55, 43);
    padding: 5px;
    border-radius: 15px;
    font-family: 'titulos';
}

.iconformat{
    color: rgb(64, 64, 102);
    margin: 1%;
    font-size: 150%;
    padding: auto;
}

.iconformat i{
    margin-left: 5%;
}



 nav a:hover{
    background-color: aliceblue;
    color: black;
    border: solid black;
    transition: 1s;
}

#logo{
    animation: floating-logo 5s  infinite  linear;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}


@keyframes floating-logo {
    0% {
      transform: translate(0, 0);
    }

    50%{
        transform: translate(0,20px);
    }
    100% {
      transform: translate(0, 5px);
    }
  }

/*box de conteudo*/

.bloco-conteudo{
    width: 40%;
    height: 40%;
    text-align: justify;
    border: solid silver;
    border-radius: 20px;
    margin: auto;
    padding: 1%;
    margin-top: 2%;
    margin-left: 1%;
    background: linear-gradient(to right, #2e4d75, #27809b93,#192f4b);
    
}

.bloco-conteudo:hover{
    box-shadow: 0px 0px 20px rgb(216, 216, 203), 0px 0px 20px rgb(199, 199, 193);
    transition: ease-in-out 0.5s;
}

.bloco-conteudo h1{
    text-align: center;
    font-family: 'titulos';
    width: 80%;
    color: rgb(82, 21, 21);
    background-color: rgb(222, 236, 232);
    border-radius: 20px;
    margin-left: -3%;
    box-shadow: 5px 5px 5px black;

}

.bloco-conteudo h2{
    font-family: 'titulos';
    width: 50%;
    background-color: #0c1f47;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.bloco-conteudo h3{
    font-family: 'titulos';
    width: 80%;
    color: rgb(21, 57, 173);
    color: rgb(207, 145, 145);
    text-align: center;
    display: flex;
    padding: 2%;
    background-color: rgb(20, 15, 15);
    margin: auto;
    margin-bottom: 10%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.603),0px 0px 25px rgba(0, 0, 0, 0.555);
}

.bloco-conteudo p{
    width: 95%;
    min-width: 95%;
    margin: auto;
    margin-bottom: 10%;
    background-color: rgb(240, 240, 240);
    padding: 2%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'titulos';
    color: rgb(8, 61, 8);
  
}

.bloco-conteudo p:hover{
    box-shadow: 0px 0px 20px rgb(56, 179, 201), 0px 0px 20px rgb(50, 157, 172);
}

/*estilo das respostas*/


.bloco-conteudo ul{
    width: 70%;
    background-color: azure;
    margin: auto;
    border-radius: 20px;
    font-size: 20px;
}

.displaymoderno{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    border-bottom: solid silver;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 5px;
    
    
}

.titulospagina {
    text-align: center;
    background-color: #0c1f47;
    display: flex;
    margin: auto;
    font-family: 'titulos';
    font-size: 200%;
    color: white;
    margin-bottom: 2%;


}

.titulospagina:hover{
    box-shadow: 0px 0px 20px rgb(221, 224, 17), 0px 0px 20px rgb(213, 228, 12);

}

.titulos h1{
    margin-top: 10px;
    width: 50%;
}


#modulo-grande{
    width: 800px;
}

abbr{
    width: 100%;
    text-decoration: none;
}

abbr title{
    background-color: #000066;
}
@media (max-width: 700px) {

    main{
        width: 100%;

    }

    body{
        width: 100%;
    }
        
    .bloco-conteudo{
        width: 95%;
        font-size: 10px;
        margin-right: 3%;

    }

    .bloco-conteudo h1{
        font-size: 230%;
    }

    .bloco-conteudo h3{
        font-size: 170%;
    }



     header i{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
     }

     .menu-items{
        width: 30%;
     }
    
     nav{
        text-decoration: none;
     }
}



    
/* Oculta o menu desktop em telas menores que 600px */
@media screen and (max-width: 600px) {
    .menu-desktop {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    .menu-mobile {
      display: none;
    }
  }
  

@media (max-width:600px) {

    .menu-mobile ul li a{
        background-color: rgb(170, 157, 157);
        margin: 5px;
        display: inline-block;
        width: 100%;
        margin-right: 5px;
        
    }

    .menu-mobile{
        margin: 5px;
        display: inline;
        background-color: aliceblue;
    }

   

    .menu-mobile li{
        color: rebeccapurple;
    }

    .menu-mobile i{
         position: relative;
         left: 30%;
    }
    
}

/* Esconde os itens do menu por padrão */
.menu-items {
    display: none;
  }
  
